name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push REST Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: riyadennis/identity-server:latest
      - name: Build and push GQL Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./app/gql/GQLDockerfile
          push: true
          tags: riyadennis/identity-gql-server:latest
      - name: Build and push gRPC Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./app/proto/GRPCDockerfile
          push: true
          tags: riyadennis/identity-gRPC-server:latest
      - name: Image digest
        run: echo "Image pushed with digest ${{ steps.build.outputs.digest }}"

